body{
	background-color: rgb(240,240,240);
	/*font-family: sans-serif;*/
	margin: 0 auto;
}
.hole{
	width: 100%;
	height: auto;
}
.time{
	color: rgb(0,0,228);
	height: 850px;;
	text-align: center;
	background:#00BFFF;
}
.time h1{
	font-size: 200px;
}
#audio{
	text-align: center;
}
.table-hover tbody tr:hover,
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th{
		background:#6f5499  !important;
		/*color:#fff !important;*/
}
.tbladd{
	/*float: right;
	text-align: right;*/
}
.tbladd td,.tbladdschedule td{
	padding: 5px;
}

.false{
	color: rgb(220, 220,220);
}
.true{
	color: green;
}
#hide{
	display: none;
}
.edit_area{
	width: 200px;
	height: 30px;
}
.check{
	color:#FF9900;
}
.uncheck{
	color:rgb(220, 220,220);
}
.clock{
	width: 700px;
	  margin: 0 auto;
	  height: 700px;
	  background: #00BFFFf;
	  border-radius: 50%;
	  border: 15px solid white;
	  position: relative;
	  color: #ffffff;
	  position: absolute;
	  margin-top: 50px;
	  margin-left: 25%;
	  font-family: 'Lato', sans-serif;
}

.clock #time, .clock #minutes{
	font-weight: 900;
}
.clock #month,.clock #date ,.clock #year,.clock #message{
	font-weight: 400;
}
.clock_left{
	float: left;
	  margin-left: 30px;
	  width: 240px;
	  position: absolute;
	  margin-top: 194px;
	  margin-left: 87px;
	  font-weight: 900px;
}
.clock_right{
	text-align: left;
	width: 240px;
	position: absolute;
	margin-top: 194px;
	margin-left: 346px;
	font-weight: 900px;
}
.divider{
	width: 8px;
  height: 461px;
  background: white;
  position: absolute;
  margin-top: 113px;
  margin-left: 330px;
}
.sms{
	position: relative;
  width: 240px;
  height: 65px;
  margin-left: 347px;
  margin-top: 424px;
  text-align: left;
  font-weight: 400;
}
.date{
	text-align: right;
  margin-left: 26px;
  width: 290px;
  height: 105px;
	margin-top: 145px;
  position: absolute;
}
.date p{
	font-weight: 400;
	margin-top: -12px;
}
#day{
	font-size: 42px;
	font-weight: 900;
}
#month,#date,#year,.sms{
	font-size: 30px;
}
#x{
	font-size: 25px;
}
#message{
	line-height: 33px;
}
